# local env files
.env
.env.local
.env.*.local

# general python
__pycache__/
*.py[cod]
*$py.class

# Django stuff
db.sqlite3
staticfiles/

# django-channels/redis stuff
dump.rdb

# npm stuff / vue-cli stuff
.DS_Store
node_modules/
dist/

# kdiff3
*.orig

# PyCharm stuff
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.logs/
