# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# may contain sensitive info
.env

# Django stuff
staticfiles/

# PyCharm stuff
.idea/

# npm stuff
node_modules/

# vue-cli stuff
.DS_Store
node_modules
_assets/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*