[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
dj-database-url = ">=0.4.1"
django = ">=2.2b1"
gunicorn = ">=19.6.0"
whitenoise = ">=3.2"
"psycopg2-binary" = "*"
djangorestframework = "*"
rules = "*"
django-authtools = "*"
django-smalluuid = "*"
channels = "*"
channels-redis = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
