<!DOCTYPE html>
<html lang=en>
<head><title>GMTOOLS</title>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=icon href=/static/icosahedron.ico>
  <link rel=stylesheet
        href=https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css
        integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin=anonymous>
  <link href=/static/css/app.5fcac639.css rel=preload as=style>
  <link href=/static/css/app.5fcac639.css rel=stylesheet>
</head>
<body>

{% block _content %}
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
{% endblock _content %}

</body>
</html>
