{% extends 'base.html' %}

{% block content %}
  {% if validlink %}

    <form method="post" action="" id="password_reset_form">
      {% csrf_token %}
      New password: {{ form.new_password1 }}
      New password (again): {{ form.new_password2 }}
      <button type="submit">Update my password</button>
    </form>

  {% else %}

    <p>
      The password reset link was invalid,
      possibly because it has already been used.
      Please
      <a href="{% url 'reset_password' %}">
        request a new password reset
      </a>.
    </p>

  {% endif %}
{% endblock content %}
